/* navigation part or header part  */
p{
    font-size: 20px;
}
.header-section{
background-color: antiquewhite;
padding-bottom: 50px;
}
header,.banner{
    width: 1100px;
    margin: 0 auto;
}
nav{
    width: 1100px;
    height: 60px;
}
.nav-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.heading-title{
    font-size: 45px;
    margin: 20px;
}
.nav-items a{
    margin-left: 30px;
    text-decoration: none;
    font-size: 20px;
}

/* webpage brand or group indentity part  */
.brand-identity{
    width: 700px;
    margin: 0 auto;
    text-align: center;
    margin-top: 70px;
}
.brand-identity h1{
    font-size: 64px;
margin: 0px;
}
.explore-btn{
height: 50px;
width: 140px;
border: none;
border-radius: 8px;
background-color: orange;
color: white;
font-size: 17px;
}
/* webpage banner  */
.banner{
    margin-top: 80px;
}
.banner img{
width: 100%;
}

/* main body of the webpage */
main{
    width: 1100px;
    margin: 0 auto;
}
/* features section  */
.our-features-section{
    width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}
.team-album{
    width: 520px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.team-album img{
    width: 100%;
}
.features-details{
    width: 520px;
}
.features-details h1{
    font-size:45px;
}

/* features you will learn section  */
.features-learn-architect-section{
    width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.features-learn{
    width: 470px;
    height: 830px;
}
.features-enjoy{
    font-size:45px;
    border-left: 5px solid orange;
    padding-left: 10px;
    margin-top: 0px;
}
.features{
    padding: 5px 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-top: 10px;
    border-radius: 10px;
}
.features-one h1{
font-size:20px;
}
.architect{
    width: 600px;
    height: 830px;
}
.architect img{
width: 100%;
}

/* 10 years experience part  */
.experience-part{
background: orange;    width: 250px;
    height: 150px;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    margin-left: 450px;
    position: relative;
    top: -80px;
}
.experience-part h1{
    font-size: 50px;
    margin-top: 15px;
    margin-bottom: 0px;
}
.experience-part p{
    font-size: 25px;
}

/* some facts section  */
.some-facts{
   width: 500px;
}
.some-facts h1{
    font-size:45px;
    margin: 0px;

}

/* some facts with achievements  */
.achievements{
    display: flex;
    justify-content:space-between;
    margin-top: 50px;
}
.achievement{
    width: 240px;
    height: 240px;
    border: 2px solid orangered;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.achievement h1{
    font-size: 45px;
    margin: 10px;
}
.achievement p{
    font-size: 20px;
    margin: 10px;
}

/* our sponsor companry */
.our-spoonsor{
    width: 500px;
    text-align: center;
    margin: 0 auto;
    margin-top: 80px;
}
.our-spoonsor h1{
    font-size: 45px;
    margin: 20px;
}
.sponsor-list{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.sponsor-list img{
 filter: grayscale(100%);
}