/* navigation part or header part  */
p{
    font-size: 20px;
}
.header-section{
background-color: antiquewhite;
padding-bottom: 50px;
}
header,.banner{
    width: 1100px;
    margin: 0 auto;
}
nav{
    width: 1100px;
    height: 60px;
}
.nav-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.heading-title{
    font-size: 45px;
    margin: 20px;
}
.nav-items a{
    margin-left: 30px;
    text-decoration: none;
    font-size: 22px;
}


/* webpage brand or group indentity part  */
.brand-identity{
    width: 700px;
    margin: 0 auto;
    text-align: center;
    margin-top: 70px;
}
.brand-identity h1{
    font-size: 64px;
margin: 0px;
}
.explore-btn{
height: 50px;
width: 140px;
border: none;
border-radius: 8px;
background-color: orange;
color: white;
font-size: 17px;
}

/* webpage banner  */
.banner{
    margin-top: 80px;
}
.banner img{
width: 100%;
}


/* main body of the webpage */
main{
    width: 1100px;
    margin: 0 auto;
}
/* features section  */
.our-features-section{
    width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}
.team-album{
    width: 520px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.team-album img{
    width: 100%;
}
.features-details{
    width: 520px;
}
.features-details h1{
    font-size:45px;
}


/* features you will learn section  */
.features-learn-architect-section{
    width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.features-learn{
    width: 470px;
    height: 830px;
}
.features-enjoy{
    font-size:45px;
    border-left: 5px solid orange;
    padding-left: 10px;
    margin-top: 0px;
}
.features{
    padding: 5px 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-top: 10px;
    border-radius: 10px;
}
.features-one h1{
font-size:20px;
}
.architect{
    width: 600px;
    height: 830px;
}
.architect img{
width: 100%;
}


/* 10 years experience part  */
.experience-part{
background: orange;    width: 250px;
    height: 150px;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    margin-left: 450px;
    position: relative;
    top: -80px;
}
.experience-part h1{
    font-size: 50px;
    margin-top: 15px;
    margin-bottom: 0px;
}
.experience-part p{
    font-size: 25px;
}


/* some facts section  */
.some-facts{
   width: 500px;
}
.some-facts h1{
    font-size:45px;
    margin: 0px;
}

/* some facts with achievements  */
.achievements{
    display: flex;
    justify-content:space-between;
    margin-top: 50px;
}
.achievement{
    width: 230px;
    height: 230px;
    border: 3px solid;
    animation: border_blink 1s ease-in 0.5s infinite;
    border: 3px solid;
    border-image: linear-gradient(60deg,red, blue, orange, green) 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
/* animation for achievement card ,when it will hover  */
/* .achievement:hover{
    animation: border_blink 1s ease-in 0.5s infinite;
    border: 3px solid;
    border-image: linear-gradient(60deg,red, blue, orange, green) 1;
} */
/* animation for achievement card border  */
@keyframes border_blink {
    0%   {
        border: 3px solid;
    border-image: linear-gradient(60deg,blue, green, red, green) 1;
    }
    25%  {
        border: 3px solid;
        border-image: linear-gradient(60deg,green, red, orange, blue) 1;
    }
    50%  {
        border: 3px solid;
    border-image: linear-gradient(60deg,orange, blue, red, green) 1;
    }
    100% {
        border: 3px solid;
    border-image: linear-gradient(60deg,red, green, orange, blue) 1;
    }
}

.achievement h1{
    font-size: 45px;
    margin: 10px;
}
.achievement p{
    font-size: 20px;
    margin: 10px;
}


/* our services and plans, extra section  */
.plan-section{
    /* background-image: linear-gradient(rgb(123, 255, 0), rgb(218, 34, 65), green, orange, tomato); */
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 0%, rgba(49, 52, 54, 0.5) 100%),url(images/banner.png);
    /* background-image: url(images/banner.png); */
    background-repeat: no-repeat;
    background-size: cover;
    padding: 35px 0px 50px 0px;
    margin-top: 100px;
    border-radius: 10px;
}

.plan-services{
    width: 500px;
    text-align: center;
    margin: 0 auto;
    color: white;
}
.plan-services h1{
    font-size: 45px;
    margin: 0px;
}

.services{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}
.service{
    width: 320px;
    height: 425px;
    background-color: white;
}
.service button{
    width: 100%;
    height: 40px;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
}

.basic-plan{
    border:2px solid #1e11d1;
    border-radius: 0px 23px 0px 20px;
}
.basic,.basic-plan button{
    background-color: #1e11d1;
}
.standard-plan{
    border:2px solid #590aec;
    border-radius: 0px 23px 0px 20px;
}
.standard,.standard-plan button{
    background-color: #590aec;
}

.premium-plan{
    border:2px solid  #0a64ec;
    border-radius: 0px 23px 0px 20px;
}
.premium,.premium-plan button{
    background-color: #0a64ec;
}
.basic,.standard,.premium{
    width: 100%;
    height: 100px;
    border-radius: 0px 20px 0px 20px;
    color: white;
}
.basic div,.standard div,.premium div{
    margin-left: 10px;
}
.basic h1,.standard h1, .premium h1{
    margin:0px;
    font-size: 40px;
}
.basic p,.standard p, .premium p{
    margin-top: 5px;
}
.price{
    font-size: 35px;
}
.plan-option{
    margin-left: 10px;
    margin-right: 10px;
}
.plan-option p{
    margin: 15px;
}
.fa-check{
    color: green;
}
.fa-xmark{
    color: red;
}


/* our sponsor companry */
.our-spoonsor{
    width: 500px;
    text-align: center;
    margin: 0 auto;
    margin-top: 80px;
}
.our-spoonsor h1{
    font-size: 45px;
    margin: 20px;
}
.sponsor-list{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.sponsor-list img{
 filter: grayscale(100%);
}


/* footer section  */
footer{
    height: 400px;
    background-color: #141414;
    margin-top: 80px;
}
footer h1{
    color: white;
}
footer p{
    color: #b4abab;
}
.footer-section{
    width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.footer-section div{
    margin-top: 80px;
}


/* ---------------------- 
                 media query for mobile device 576px
                 -------------------------------------------- */
@media screen and (max-width:576px) {
    /* common flex-direction for some class  */
.nav-items,.our-features-section,.achievements,.services,.sponsor-list{
    flex-direction: column;
    align-items: center; 
}

/* common width for some class */
main,nav,header,.nav-items,.brand-identity,.banner,.banner img,.our-features-section,.team-album,.features-details,.features-learn-architect-section,.architect,.architect img,.features-learn,.some-facts,.plan-services,.our-spoonsor,.footer-section{
    width: 100%;
}
/* common height for some img and class */
.banner img,.architect,footer{
    height: 100%;
}
/* common margin-top 50px for some class  */
.banner,.features-details,footer{
    margin-top: 50px;
}
/* common margin-top 20px for some class and tags */
.some-facts,.achievement,.service,.sponsor-list img{
    margin-top: 20px;
}
/* common font size (35px) for some tag  */
.heading-title,.brand-identity h1,.features-details h1,.features-enjoy,.experience-part h1,.some-facts h1,.our-spoonsor h1,.plan-services h1,.service h1{
    font-size: 30px;
}
/* header section start */
.nav-items div{
    display: flex;
    justify-content: space-between;
}
.brand-identity{
    margin-top: 100px;
}
.banner{
    height: 250px;
}

/* team album and features */
.team-album{
    grid-template-columns: repeat(1, 1fr);
}
.features-learn-architect-section{
    flex-direction: column-reverse;
}
.features-learn{
    margin-top: 100px;
}
.experience-part{
    margin-left: 70px;
    width: 200px;
    height: 100px;
    top: -1000px;
}

/* some fact  and achievements*/
.achievement{
    width: 60%;
}

/* our services and plan section */
.plan-section{
     background-image: linear-gradient(rgb(123, 255, 0), rgb(218, 34, 65), green, orange, tomato);
}
.service{
    width: 95%;
}
.basic,.premium,.standard{
    width: 100%;
}
.service button{
    width: 100%;
}
.plan-option p{
    font-size: 18px;
}
.sponsor-list img{
    width: 60%;
    filter: grayscale(0%);
}
.footer-section{
    flex-direction: column;
    padding-left: 20px;
}
}

/* ---------------------------------- 
media query for mobile device 576px
-------------------------------------------- */
@media screen and (max-width:576px) {
    /* common flex-direction for some class  */
.nav-items,.our-features-section,.achievements,.services,.sponsor-list{
    flex-direction: column;
    align-items: center; 
}

/* common width for some class */
main,nav,header,.nav-items,.brand-identity,.banner,.banner img,.our-features-section,.team-album,.features-details,.features-learn-architect-section,.architect,.architect img,.features-learn,.some-facts,.plan-services,.our-spoonsor,.footer-section{
    width: 100%;
}
/* common height for some img and class */
.banner img,.architect,footer{
    height: 100%;
}
/* common margin-top 50px for some class  */
.banner,.features-details,footer{
    margin-top: 50px;
}
/* common margin-top 20px for some class and tags */
.some-facts,.achievement,.service{
    margin-top: 20px;
}
/* common font size (35px) for some tag  */
.heading-title,.brand-identity h1,.features-details h1,.features-enjoy,.experience-part h1,.some-facts h1,.our-spoonsor h1,.plan-services h1,.service h1{
    font-size: 30px;
}
/* header section start */
.nav-items div{
    display: flex;
    justify-content: space-between;
}
.brand-identity{
    margin-top: 100px;
}
.banner{
    height: 250px;
}

/* team album and features */
.team-album{
    grid-template-columns: repeat(1, 1fr);
}
.features-learn-architect-section{
    flex-direction: column-reverse;
}
.features-learn{
    margin-top: 100px;
}
.experience-part{
    margin-left: 70px;
    width: 200px;
    height: 100px;
    top: -1000px;
}

/* some fact  and achievements*/
.achievement{
    width: 60%;
}

/* our services and plan section */
.plan-section{
     background-image: linear-gradient(rgb(123, 255, 0), rgb(218, 34, 65), green, orange, tomato);
}
.service{
    width: 95%;
}
.basic,.premium,.standard{
    width: 100%;
}
.service button{
    width: 100%;
}
.plan-option p{
    font-size: 18px;
}

/* our sponsor section  */
.sponsor-list img{
    width: 130px;
    height: 40px;
    margin-top: 5px;
    filter: grayscale(0%);
    border-radius: 10px;
background-color: #b9b9b8;
filter: grayscale(0%);
padding: 15px;
}
.footer-section{
    flex-direction: column;
    padding-left: 20px;
}
}


/* ------------------------------- 
media query for tablet device 577px to 768px
----------------------------------- */
 @media screen and (min-width:577px) and (max-width:768px) {
    /* common flex-direction for some class  */
.nav-items,.our-features-section{
    flex-direction: column;
    align-items: center;
}

/* common width for some class */
main,nav,header,.nav-items,.brand-identity,.banner,.banner img,.our-features-section,.team-album,.features-details,.features-learn-architect-section,.architect,.architect img,.features-learn,.some-facts,.plan-services,.our-spoonsor,.footer-section{
    width: 100%;
}
/* common height for some img and class */
.banner img,.architect,footer{
    height: 100%;
}
/* common margin-top 50px for some class  */
.banner,.features-details,footer{
    margin-top: 50px;
}

/* common font size (35px) for some tag  */
.heading-title,.brand-identity h1,.features-details h1,.features-enjoy,.experience-part h1,.some-facts h1,.our-spoonsor h1,.plan-services h1,.service h1{
    font-size: 37px;
}
/* header section start */
.nav-items div{
    display: flex;
    justify-content: space-between;
}
.brand-identity{
    margin-top: 100px;
}

/* team album and features */
.team-album{
    grid-template-columns: repeat(2, 1fr);
}
.features-learn-architect-section{
    flex-direction: column-reverse;
    margin-bottom: 0px;
}
.features-learn{
    margin-top: 100px;
}
.experience-part{
display: none;
}


/* some fact  and achievements*/
.achievements{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
.achievement{
   width: 100%;
}

/* our services and plan section */
.services{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
}
.service{
    width: 96%;
}
.basic,.premium,.standard{
    width: 100%;
}
.service button{
    width: 100%;
}
.plan-option p{
    font-size: 18px;
}
/* our soponsoer  */
.sponsor-list{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 30px;
}
.sponsor-list img{
    width: 100%;
    padding: 10px;
border-radius: 10px;
    background-color: #b9b9b8;
    filter: grayscale(0%);
}
.footer-section{
    padding-left: 20px;
}
.footer-section h1{
    font-size: 26px;
}
}



/* ---------------------- 
          media query for tablet device 577px to 768px
               ----------------------------------- */
 @media screen and (min-width:577px) and (max-width:768px) {
    /* common flex-direction for some class  */
.nav-items,.our-features-section{
    flex-direction: column;
    align-items: center;
}

/* common width for some class */
main,nav,header,.nav-items,.brand-identity,.banner,.banner img,.our-features-section,.team-album,.features-details,.features-learn-architect-section,.architect,.architect img,.features-learn,.some-facts,.plan-services,.our-spoonsor,.footer-section{
    width: 100%;
}
/* common height for some img and class */
.banner img,.architect,footer{
    height: 100%;
}
/* common margin-top 50px for some class  */
.banner,.features-details,footer{
    margin-top: 50px;
}

/* common font size (35px) for some tag  */
.heading-title,.brand-identity h1,.features-details h1,.features-enjoy,.experience-part h1,.some-facts h1,.our-spoonsor h1,.plan-services h1,.service h1{
    font-size: 37px;
}
/* header section start */
.nav-items div{
    display: flex;
    justify-content: space-between;
}
.brand-identity{
    margin-top: 100px;
}
.banner{
    height: 250px;
}

/* team album and features */
.team-album{
    grid-template-columns: repeat(2, 1fr);
}
.features-learn-architect-section{
    flex-direction: column-reverse;
    margin-bottom: 0px;
}
.features-learn{
    margin-top: 100px;
}
.experience-part{
display: none;
}


/* some fact  and achievements*/
.achievements{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
.achievement{
   width: 100%;
}

/* our services and plan section */
.services{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
}
.service{
    width: 96%;
}
.basic,.premium,.standard{
    width: 100%;
}
.service button{
    width: 100%;
}
.plan-option p{
    font-size: 18px;
}
/* our soponsoer  */
.sponsor-list{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 30px;
}
.sponsor-list img{
    width: 100%;
    padding: 10px;
border-radius: 10px;
    background-color: #b9b9b8;
    filter: grayscale(0%);
}
.footer-section{
    padding-left: 20px;
}
.footer-section h1{
    font-size: 26px;
}
}

/* ---------------------- 
          media query for big tablet or above device 769px to 992px
               ----------------------------------- */

@media screen and (min-width:769px) and (max-width:992px) {
/* common width for some class */
main,nav,header,.nav-items,.banner,.banner img,.our-features-section,.team-album,.features-details,.features-learn-architect-section,.architect,.architect img,.features-learn,.footer-section{
    width: 100%;
}
/* common font size (35px) for some tag  */
.heading-title,.brand-identity h1,.features-details h1,.experience-part h1,.some-facts h1,.our-spoonsor h1,.plan-services h1,.service h1{
    font-size: 40px;
}
/* team album and features */
.our-features-section{
    gap: 20px;
}
.our-features-section h1{
    margin-top: 0px;
    margin-bottom: 0px;
}
.features-enjoy{
    font-size: 35px;
}
.architect img{
    height: 100%;
}

/* some fact  and achievements*/
.achievements{
gap: 10px;
}
.achievement{
   width: 200px;
   height: 200px;
}

/* our services and plan section */
.services{
gap: 10px;
}
.service{
height: max-content;
padding-bottom: 10px;
}
.service h1{
    font-size: 33px;
}
.plan-option p{
    font-size: 18px;
}

/* our soponsoer  */
.sponsor-list{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 30px;
}
.sponsor-list img{
    width: 100%;
    padding: 10px;
border-radius: 10px;
    background-color: #b9b9b8;
    filter: grayscale(0%);
}
footer{
    width: 100%;
    padding: 20px;
}
.footer-section h1{
    font-size: 26px;
}
}